
/* .subheading{
   color: dodgerblue;
   font-size: larger;
}
.btn{
    background-color: dodgerblue;
    color: white;
    padding: 10px 142px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
} */
/* .font-icons{
    float: right;
} */

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }











  
#profile, .add-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


* {
    box-sizing: border-box;
  }
  
  /* Add padding to containers */
  /* .container {
    padding: 16px;
    background-color: white;
  } */
  
  /* Full-width input fields */
  /* input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  } */
  
  input:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  /* hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   */
  /* Set a style for the submit button */
  .btn-submit-reset {
    background-color: cadetblue;
    color: white;
    padding: 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn-submit-reset:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  .vtype{
    padding: 5px;
    width: -webkit-fill-available;
  }
.defaultImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}