page-home {

}
.background {
    background: url("../../assets/imgs/pexels-photo-1139556.jpeg") no-repeat center;
    background-size: cover;
    height: 30%;
  }
.addVisitor-div{
height: 20%;
}

.btn-addVisitor{
    width: 100%;
    background-color: cadetblue;
    height: 30px;
}